body{
    background-color: #deb900;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}
h1{
    text-align: center;
}
#buttons{
    display: flex;
    justify-content: space-evenly;
}
#poke{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}